# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDEs
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework

# Misc
.DS_Store
Thumbs.db